## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,9,Bambous Virieux,MU,70.05,broken clouds,-20.3428,57.7575,Casa Tia Villa
2,10,Katsuura,JP,87.24,broken clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
3,15,Banda Aceh,ID,84.40,broken clouds,5.5577,95.3222,Sulthan Hotel International
4,20,Lampazos De Naranjo,MX,89.24,broken clouds,27.0167,-100.5167,Bella Vista
...,...,...,...,...,...,...,...,...
279,675,Laguna,US,71.24,broken clouds,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
280,677,Cayenne,GF,81.09,broken clouds,4.9333,-52.3333,Hôtel Le Dronmi
281,679,Buala,SB,85.03,broken clouds,-8.1450,159.5921,Maringe Lagoon Lodge
282,680,Ilebo,CD,71.91,broken clouds,-4.3167,20.5833,Hôtel BUMAK
283,682,Caravelas,BR,73.09,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl><dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Merrill"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Merrill"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Saint Anthony"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "New Ulm"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mitchell"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [7]:
start

(45.1805, -89.6835)

In [8]:
end

(45.1805, -89.6835)

In [9]:
stop2

(44.3125, -94.4605)

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Direction = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(Direction)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,388,Merrill,US,72.32,broken clouds,45.1805,-89.6835,Prairie Motel
1,388,Merrill,US,72.32,broken clouds,45.1805,-89.6835,Prairie Motel
2,381,Saint Anthony,US,87.73,broken clouds,45.0205,-93.2180,"Holiday Inn Express Roseville-St. Paul, an IHG..."
3,349,New Ulm,US,84.81,broken clouds,44.3125,-94.4605,Best Western Plus New Ulm
4,382,Mitchell,US,80.11,broken clouds,43.7094,-98.0298,Kelly Inn & Suites

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl><dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
Direction = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(Direction)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))