## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
file_to_load = os.path.join("../Weather_Database", "WeatherPy_database.csv")
city_data_df = pd.read_csv(file_to_load)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,49.66,46,40,14.97,broken clouds
1,1,Te Anau,NZ,-45.4167,167.7167,54.01,78,96,1.05,broken clouds
2,2,Dikson,RU,73.5069,80.5464,31.68,94,98,15.46,broken clouds
3,3,Vaini,TO,-21.2000,-175.2000,71.76,88,75,12.66,broken clouds
4,4,Gualeguay,AR,-33.1416,-59.3097,54.54,93,51,5.70,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vaini,TO,-21.2000,-175.2000,71.76,88,75,12.66,broken clouds
9,9,Bambous Virieux,MU,-20.3428,57.7575,70.05,88,75,16.28,broken clouds
10,10,Katsuura,JP,35.1333,140.3000,87.24,63,0,14.50,broken clouds
15,15,Banda Aceh,ID,5.5577,95.3222,84.40,65,100,11.30,broken clouds
20,20,Lampazos De Naranjo,MX,27.0167,-100.5167,89.24,50,2,14.90,broken clouds
22,22,Rikitea,PF,-23.1203,-134.9692,73.35,90,98,14.12,broken clouds
23,23,Albany,US,42.6001,-73.9662,72.27,94,100,2.06,broken clouds
24,24,Kapaa,US,22.0752,-159.3190,84.18,73,12,5.01,broken clouds
25,25,Boma,GH,7.0805,-2.1697,70.95,99,100,2.15,broken clouds
29,29,Kanlagay,PH,5.8757,121.2915,84.61,68,100,4.41,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City_ID                309
City                   309
Country                309
Lat                    309
Lng                    309
Max Temp               309
Humidity               309
Cloudiness             309
Wind Speed             309
Current Description    309
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn‚Äôt have empty rows.
preferred_cities_df.replace('', float("NaN"), inplace=True)
clean_df=preferred_cities_df.dropna()
clean_df

C:\Users\AZUZ\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vaini,TO,-21.2000,-175.2000,71.76,88,75,12.66,broken clouds
9,9,Bambous Virieux,MU,-20.3428,57.7575,70.05,88,75,16.28,broken clouds
10,10,Katsuura,JP,35.1333,140.3000,87.24,63,0,14.50,broken clouds
15,15,Banda Aceh,ID,5.5577,95.3222,84.40,65,100,11.30,broken clouds
20,20,Lampazos De Naranjo,MX,27.0167,-100.5167,89.24,50,2,14.90,broken clouds
...,...,...,...,...,...,...,...,...,...,...
675,675,Laguna,US,38.4210,-121.4238,71.24,45,30,7.00,broken clouds
677,677,Cayenne,GF,4.9333,-52.3333,81.09,86,40,1.01,broken clouds
679,679,Buala,SB,-8.1450,159.5921,85.03,69,83,7.81,broken clouds
680,680,Ilebo,CD,-4.3167,20.5833,71.91,65,42,1.81,broken clouds
682,682,Caravelas,BR,-17.7125,-39.2481,73.09,86,0,4.56,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,
9,Bambous Virieux,MU,70.05,broken clouds,-20.3428,57.7575,
10,Katsuura,JP,87.24,broken clouds,35.1333,140.3000,
15,Banda Aceh,ID,84.40,broken clouds,5.5577,95.3222,
20,Lampazos De Naranjo,MX,89.24,broken clouds,27.0167,-100.5167,
...,...,...,...,...,...,...,...
675,Laguna,US,71.24,broken clouds,38.4210,-121.4238,
677,Cayenne,GF,81.09,broken clouds,4.9333,-52.3333,
679,Buala,SB,85.03,broken clouds,-8.1450,159.5921,
680,Ilebo,CD,71.91,broken clouds,-4.3167,20.5833,
682,Caravelas,BR,73.09,broken clouds,-17.7125,-39.2481,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
counter = 0
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    print(counter)
    counter+=1

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        print(hotels["results"][0]["name"])
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

0
Keleti Beach Resort
1
Casa Tia Villa
2
Katsuura Hotel Mikazuki
3
Sulthan Hotel International
4
Bella Vista
5
People ThankYou
6
Hotel not found... skipping.
7
Sheraton Kauai Coconut Beach Resort
8
Obaatanpa Hotel
9
Hotel not found... skipping.
10
Sea Lounge! Bar, Club & Restaurant
11
Hotel not found... skipping.
12
Playa Bonita Resort
13
Hotel not found... skipping.
14
Kost Pria
15
Shandrani Beachcomber Resort & Spa
16
Scoop Guest House
17
Cititel Penang
18
Erenhot Rurouni Youth Hostel
19
Hampton Inn & Suites Jamestown
20
Hanks place
21
Âæ°ÂÆøÂïÜÊóÖ-‰∏≠Â±±È§®
22
Veranda Paul et Virginie Hotel & Spa
23
Pension Oaoa
24
Gostinitsa Rosmorport.
25
Whitehouse Cove
26
Bonifacio Lodge
27
Lamu House
28
Hotel Azteca
29
Hotel not found... skipping.
30
Nuli Sapi
31
Grand Kecubung Hotel
32
Radisson Grenada Beach Resort
33
Hotel not found... skipping.
34
Pousada Porto Praia
35
Balandra Hotel
36
Isles Sunset Lodge
37
Xianhua Sandalwood Celebrity Hotel
38
Casa da Oscarina
39
Ph√∫ Qu√Ω
40
Abaco Beach Resort
41
Palais du chef Canton Salamt
42
Hawaii Hotel
43
Mini Hotel Central
44
Poutur Pousada
45
Hilo Hawaiian Hotel
46
Hotel Piesta
47
Kvartsevaya Sopka
48
El rranchito michuacan de ocampos
49
Villa Enata
50
Airport Lodge Kiunga
51
Leuaina Beach Resort and Spa
52
Grage Hotel Bengkulu
53
Derogongan Residence
54
Hostal Rio Miel
55
Azuma Ryokan
56
Best Western Plus Abbey Inn
57
Hotel Fazenda Sol e Lua
58
Tour Eiffel Hotel Benin
59
Hotel not found... skipping.
60
Ephira Hotel
61
Requinte Hotel
62
Ramah Kost KITA
63
Nusa Island Retreat
64
Motel 6 Sinton, TX
65
Courtyard by Marriott Danbury
66
Conferencista Jose Pepe Quijada
67
Hotels in Lakshadweep Islands
68
Auberge Residence Yebin
69
Dhaffalhu Tourist Lodge
70
Finch Bay Galapagos Hotel
71
ŸÖÿ≠ŸÖÿØ ŸáÿßÿØŸä ÿßŸÑ ŸÅÿ∑Ÿäÿ≠
72
Chiangkhong Green Inn Resident
73
Secretaria de sa√∫de
74
Case de Passage De la Prefecture
75
Pousada Porto De Canoas
76
Â∏ïÁ±≥Â∞îÈùíÂπ¥ÊóÖËàç
77
Capital O 5843 Hotel Yash Inn
78
Hotel not found... skipping.
79
Hampton Inn & Suites Show Low-Pinetop
80
Hotel Route Inn Kamaishi
81
Posada Lilia
82
Hotel Verano Plaza
83
Hotel not found... skipping.
84
Semnan Tourist Hotel
85
Hotel Xaguate
86
Shanti Maurice Resort & Spa
87
Oota Ryokan
88
Jinjiang Inn Longyan Zhongshan Road Pedestrian Street
89
INN NEW HORIZON
90
Orchid Main Camp Goubet
91
Inspection Bunglow
92
Peace Hotel
93
Salinas Park Resort Ma√ßarico AP101
94
quinta antigua
95
Omadhoo Inn
96
Bora-Bora Pearl Beach Resort & Spa
97
ALETHEIA Appartement Sinnamary
98
Radisson Blu Hotel, Dubai Deira Creek
99
Jeevan
100
Nathaniel's Lodge
101
Hotel Atoll Emerald Miyakojima
102
Avista Resort
103
Maui Seaside Hotel
104
SEGAYA PROPERTY
105
Hotel Bressan
106
Hampton Inn & Suites Scottsbluff-Conference Center
107
Ul. Ranova 15-1 Kvartiry Posutochno.
108
Hotel not found... skipping.
109
Gulisitan Hotel
110
Calypso Cove
111
Southern Beach Hotel & Resort Okinawa
112
Lidera
113
Juvinal Martin
114
Hotel complex Pastoral
115
Whispering Bamboo Cove Resort
116
Dwi Putra Hotel - Ende
117
Hotel Nuquimar
118
The Freeport Inn and Marina
119
HOTEL LOS ALMENDROS
120
Sukumojo
121
Hotel Olako
122
CenDeluxe Hotel Tuy Hoa
123
Lotte Hotel Seoul
124
Energetik, Pansionat Ooo "Grand Baykal"
125
Quality Suites Vila Velha
126
Manaus Hot√©is Millennium
127
Hotel not found... skipping.
128
Mercure Padang
129
Pousada Novo Horizonte
130
Hotel The Royal Honours
131
Welcombe Hotel
132
Hacienda Gracia
133
Steamboat Grand
134
Hotel Syariah CN Darussalam
135
ibis Styles Karratha
136
Hotel Livemax Iyo Mishima
137
Resorts Resource Group International
138
Hotel Ritz Sumbe
139
Hotel not found... skipping.
140
Fanrong Hotel
141
Shimoda Tokyu Hotel
142
Redface Studios Meubl√©s
143
Minshuku Agaihama
144
AXIM BEACH RESORT AND SPA
145
Huadian Forestry Bureau
146
Fakhamat Al Orjoana Apartment
147
Hotel Chik Chik Namibe
148
Ëä±„ÅÆÊπØ
149
Taloa Heights
150
Casa jaboatao Guimar√£es
151
Butterfly Beach Hotel
152
Casa do Ianüòé
153
Best Western Plus New Ulm
154
Hotel not found... skipping.
155
Hotel not found... skipping.
156
Hotel not found... skipping.
157
Divi Village Golf & Beach Resort
158
Villa Park Hotel | Natal
159
Camp PƒÅlehua
160
Welcomhotel By ITC Hotels, Bay Island, Port Blair
161
‡§Ö‡§®‡•ç‡§®‡•Ä ‡§ò‡§∞, ‡§ú‡•Å‡§Æ‡•ç‡§≤‡§æ - Anni Ghar
162
ÂÆâÁê™ÈÖíÂ∫ó
163
waigo splash hotel
164
Bonthe Holiday Village
165
Lamana Hotel
166
Hotel Praia Morena
167
Hotel Albergue de Olinda
168
Bungalow 63
169
Hilton Garden Inn Qidong
170
Holiday Inn Express Roseville-St. Paul, an IHG Hotel
171
Kelly Inn & Suites
172
Howard Johnson by Wyndham Modesto Ceres
173
Sunset Lodge
174
Kassela de Banamba
175
Prairie Motel
176
Leonardo Family Beach House 1
177
Ikathouse
178
Foyer ADM
179
Odisseya
180
Paradise Inn
181
Hotel Maktub
182
Kimpton Vero Beach Hotel & Spa
183
VIHARI GRAND INN
184
DoubleTree by Hilton Hotel Bay City - Riverfront
185
Big Red's
186
Artemis Otel
187
Hotel Maria Isabel
188
ŸÖÿ≤ÿ±ÿπÿ© ÿ±ÿßÿ≠ÿ© ÿßŸÑŸÜŸÅŸàÿ≥ ÿßŸÑŸÖŸÜÿ≤ŸÅÿ©
189
Hotel y restaurante "El Diamante"
190
Ono Hot Dog Cart and Catering
191
Hotel Memory
192
Six Acres Bed & Breakfast
193
Hotel not found... skipping.
194
Macs
195
Floresta Amazonica Hotel
196
HOTEL DEL FRESNO
197
Atlantis Hotel
198
hot√™l doufoulougou
199
Uruna Bay Retreat
200
Vahmoneh Lodge Vanimo
201
Chenango Valley State Park
202
Yoo Naa's Palace
203
Grand Vilia Hotel
204
H√¥tel Le Lagon
205
Amiin Hotel
206
Pousada Beija Flor
207
ÿµÿßÿ≠ÿ®ÿ© ÿßŸÑŸÅÿÆÿßŸÖÿ©
208
Lorengau Harbourside Hotel
209
Hotel Sunrise Choshi
210
Ranga Lodge
211
Quality Inn
212
Hotel Citra
213
Jinjiang Inn Zhoushan Putuo Shenjiamen
214
Santa Ana Travel Inn
215
Hotel not found... skipping.
216
Gostinitsa Deksi
217
Kapital Inn
218
ŸÖÿ≠ÿ∑ÿ© ÿßŸÑÿ™ŸÑŸÅÿßÿ≤
219
Hilton Virginia Beach Oceanfront
220
The Retreat at the Farm
221
ADW Boys Hostel, Vettavalam
222
Hotel GSA
223
El Baladero Apartamentos
224
Hotel not found... skipping.
225
Bayi Hotel
226
DoubleTree Suites by Hilton Hotel Lexington
227
BBM Grand Hotel
228
Holiday Inn Gainesville-University Ctr, an IHG Hotel
229
Seagulls Inn Namatani
230
Hotel not found... skipping.
231
Auberge du Grand Lac
232
GreenTree Inn Chuzhou Langya Mountain Scenic Area Xijian Road Business Hotel
233
Hotel Juba
234
Villa Orphee
235
Delong Hotel
236
Le Manotel
237
Westgate Flamingo Bay Resort
238
Hotel not found... skipping.
239
Uyut, Gostinitsa
240
HAMDAN PLAZA HOTEL SALALAH
241
Azio Hotel
242
Siang Guest House
243
HS Hotsson Smart Acapulco
244
Hotel not found... skipping.
245
900 Boutique INN
246
Tanna Lodge
247
Kost Putri RABBANI
248
Wedgewood Motel
249
Tarawa Boutique Hotel
250
Agan-Hotel
251
Pudong Holiday Hotel
252
LT Aparthotel
253
Shwe Phyu Hotel
254
Ballistic Islet
255
Hotel Lobohombo
256
Hotel Villa Diana Soc. Clelia Hunziker s.a.s.
257
Marriott's Ko Olina Beach Club
258
Hotel Campos
259
Casa Morey Hotel & Restaurant
260
NCCF Kishi
261
Hotel not found... skipping.
262
Jus Les' Suites
263
Hotel not found... skipping.
264
Maitai Lapita Village Huahine
265
Sharif Plaza Hotel
266
Hotel not found... skipping.
267
Gostinitsa Bureya
268
Corr√™a Hotel
269
Hostal Funf
270
Courtyard by Marriott Fort Lauderdale Weston
271
Hotel Dawei
272
Blue Rock Resort
273
PAIN POUSADA E RESTAURANTE
274
Shell Hefei Chaohu Railway Station Wanda Plaza Hotel
275
Haicheng Grand Hotel
276
OYO 3271 Homestay Pandian
277
LT Aparthotel
278
Beau Site
279
Hotel Le Peuple
280
ÿ¥ÿ±⁄©ÿ™ ÿ≤ÿ±ŸÖŸáÿ±€åÿßÿ± ÿ¥ÿπÿ®Ÿá ÿ≥ŸàŸÖ
281
‰∏úÊôñÂõΩÈôÖÂ§ßÈÖíÂ∫óÈ§êÂéÖ
282
Hotel Val√™ncia
283
RUMBIA RESORT VILLA
284
Iglesia morava renovada
285
ÿ≠ÿßŸÖÿØ ŸÖÿ≠ŸÖÿØ ŸÜŸàÿ±
286
Aipana Plaza Hotel
287
Castle Motor Lodge Motel
288
Orient Apartments
289
Leonardo Ashkelon
290
The Esplanade Hotel
291
Hotel Santa Cruz
292
MS Fuente Las Piedras
293
Yubileynaya
294
GreenTree Inn Zibo Wuyuan County Lushan Road Express Hotel
295
Hotel RIKMAN Continental
296
OlusHome
297
Hotel Executivo Palace
298
Chez Honorable Chapiou
299
VS Villa
300
Phet resort
301
Hotel not found... skipping.
302
Grand 0773 Hotel
303
Hotel Playa Cristal
304
Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel
305
H√¥tel Le Dronmi
306
Maringe Lagoon Lodge
307
H√¥tel BUMAK
308
Pousada dos Navegantes

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('', float("NaN"), inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
9,Bambous Virieux,MU,70.05,broken clouds,-20.3428,57.7575,Casa Tia Villa
10,Katsuura,JP,87.24,broken clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
15,Banda Aceh,ID,84.40,broken clouds,5.5577,95.3222,Sulthan Hotel International
20,Lampazos De Naranjo,MX,89.24,broken clouds,27.0167,-100.5167,Bella Vista
...,...,...,...,...,...,...,...
675,Laguna,US,71.24,broken clouds,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
677,Cayenne,GF,81.09,broken clouds,4.9333,-52.3333,H√¥tel Le Dronmi
679,Buala,SB,85.03,broken clouds,-8.1450,159.5921,Maringe Lagoon Lodge
680,Ilebo,CD,71.91,broken clouds,-4.3167,20.5833,H√¥tel BUMAK
682,Caravelas,BR,73.09,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes

In [10]:
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
9,Bambous Virieux,MU,70.05,broken clouds,-20.3428,57.7575,Casa Tia Villa
10,Katsuura,JP,87.24,broken clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
15,Banda Aceh,ID,84.40,broken clouds,5.5577,95.3222,Sulthan Hotel International
20,Lampazos De Naranjo,MX,89.24,broken clouds,27.0167,-100.5167,Bella Vista
...,...,...,...,...,...,...,...
675,Laguna,US,71.24,broken clouds,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
677,Cayenne,GF,81.09,broken clouds,4.9333,-52.3333,H√¥tel Le Dronmi
679,Buala,SB,85.03,broken clouds,-8.1450,159.5921,Maringe Lagoon Lodge
680,Ilebo,CD,71.91,broken clouds,-4.3167,20.5833,H√¥tel BUMAK
682,Caravelas,BR,73.09,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes

In [11]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl><dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} ¬∞F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))