## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
file_to_load = os.path.join("../Weather_Database", "WeatherPy_database.csv")
city_data_df = pd.read_csv(file_to_load)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,49.66,46,40,14.97,broken clouds
1,1,Te Anau,NZ,-45.4167,167.7167,54.01,78,96,1.05,broken clouds
2,2,Dikson,RU,73.5069,80.5464,31.68,94,98,15.46,broken clouds
3,3,Vaini,TO,-21.2000,-175.2000,71.76,88,75,12.66,broken clouds
4,4,Gualeguay,AR,-33.1416,-59.3097,54.54,93,51,5.70,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,49.66,46,40,14.97,broken clouds
1,1,Te Anau,NZ,-45.4167,167.7167,54.01,78,96,1.05,broken clouds
2,2,Dikson,RU,73.5069,80.5464,31.68,94,98,15.46,broken clouds
3,3,Vaini,TO,-21.2000,-175.2000,71.76,88,75,12.66,broken clouds
4,4,Gualeguay,AR,-33.1416,-59.3097,54.54,93,51,5.70,broken clouds
5,5,Nikolskoye,RU,59.7035,30.7861,58.80,65,98,3.02,broken clouds
6,6,Ahipara,NZ,-35.1667,173.1667,65.77,73,26,6.76,broken clouds
7,7,Barrow,US,71.2906,-156.7887,34.20,85,100,15.68,broken clouds
8,8,Cidreira,BR,-30.1811,-50.2056,62.42,92,100,15.73,broken clouds
9,9,Bambous Virieux,MU,-20.3428,57.7575,70.05,88,75,16.28,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City_ID                683
City                   683
Country                683
Lat                    683
Lng                    683
Max Temp               683
Humidity               683
Cloudiness             683
Wind Speed             683
Current Description    683
dtype: int64

In [33]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.replace('', float("NaN"), inplace=True)
clean_df=preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,49.66,46,40,14.97,broken clouds
1,1,Te Anau,NZ,-45.4167,167.7167,54.01,78,96,1.05,broken clouds
2,2,Dikson,RU,73.5069,80.5464,31.68,94,98,15.46,broken clouds
3,3,Vaini,TO,-21.2000,-175.2000,71.76,88,75,12.66,broken clouds
4,4,Gualeguay,AR,-33.1416,-59.3097,54.54,93,51,5.70,broken clouds
...,...,...,...,...,...,...,...,...,...,...
678,678,Salisbury,GB,51.0693,-1.7957,54.32,97,23,2.91,broken clouds
679,679,Buala,SB,-8.1450,159.5921,85.03,69,83,7.81,broken clouds
680,680,Ilebo,CD,-4.3167,20.5833,71.91,65,42,1.81,broken clouds
681,681,Rongcheng,CN,30.6340,117.8517,90.93,50,87,2.01,broken clouds
682,682,Caravelas,BR,-17.7125,-39.2481,73.09,86,0,4.56,broken clouds

In [34]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,49.66,broken clouds,-54.8000,-68.3000,
1,Te Anau,NZ,54.01,broken clouds,-45.4167,167.7167,
2,Dikson,RU,31.68,broken clouds,73.5069,80.5464,
3,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,
4,Gualeguay,AR,54.54,broken clouds,-33.1416,-59.3097,
...,...,...,...,...,...,...,...
678,Salisbury,GB,54.32,broken clouds,51.0693,-1.7957,
679,Buala,SB,85.03,broken clouds,-8.1450,159.5921,
680,Ilebo,CD,71.91,broken clouds,-4.3167,20.5833,
681,Rongcheng,CN,90.93,broken clouds,30.6340,117.8517,
682,Caravelas,BR,73.09,broken clouds,-17.7125,-39.2481,

In [35]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotels

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -17.7379707, 'lng': -39.2589096},
    'viewport': {'northeast': {'lat': -17.7365489197085,
      'lng': -39.25753821970849},
     'southwest': {'lat': -17.7392468802915, 'lng': -39.26023618029149}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Pousada dos Navegantes',
   'photos': [{'height': 960,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110604417840892784095">Onaldo Rocha dos Anjos</a>'],
     'photo_reference': 'ATtYBwL6cRGrGZ7Yc6l0tb-l34ngc7w8VzE6j5QBAJAJHyd_F5xiXox0HCt9aTbQf-X-MjYGThx5qL3JaI42x-PoYtE5R84zLsVl0LTXmCYPR4-etZPzCwe26y0d5X3PztPtaojbTCH0EEPkapIqzadTUu3ur6UcnLwBGQhb84iFcMrX4I-R',
     'width': 1280}],
   'place_id': 'ChIJVVgc5WnXNAcRLGgmGSFNxr0',
   'plus_code': {'compound_code': '7P6R+RC Caravelas, BA, Brazil',
    'global_code': '59J27P6R+RC'},
   'rating': 3.6,
   'reference': 'ChIJVVgc5WnXNAcRLGgmGSFNxr0',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 146,
   'vicinity': 'Rua das Palmeiras, 45, Caravelas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -17.7347306, 'lng': -39.2653284},
    'viewport': {'northeast': {'lat': -17.7334292197085,
      'lng': -39.2640352197085},
     'southwest': {'lat': -17.7361271802915, 'lng': -39.2667331802915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Pousada Tropical',
   'photos': [{'height': 2592,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115140552705841837617">Hercules Oliveira</a>'],
     'photo_reference': 'ATtYBwJv7EdzHRDZ2muwvY53QQCoDXs21g8ee64-Is_UuH_3DtAV5zUVaKlyhAriMntPhLZ7DQqzOhtaQArCZNa7PXHmy-0SyhtvYVDLQghWxsUXsQ7KPY2W7p65sK1V2ZsUMS-5jymiRc2uQgzOEtXcuFiVe8rOZc_ytRgSQa65R2qD-XBJ',
     'width': 1944}],
   'place_id': 'ChIJ51eRJe7ZNAcRoL0JWIePd1Y',
   'plus_code': {'compound_code': '7P8M+4V Caravelas, BA, Brazil',
    'global_code': '59J27P8M+4V'},
   'rating': 4.3,
   'reference': 'ChIJ51eRJe7ZNAcRoL0JWIePd1Y',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 6,
   'vicinity': 'Rua Sete de Setembro, 155, Caravelas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -17.7380161, 'lng': -39.25800020000001},
    'viewport': {'northeast': {'lat': -17.7366947697085,
      'lng': -39.2566600197085},
     'southwest': {'lat': -17.7393927302915, 'lng': -39.2593579802915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Pousada Encanto Abrolhos',
   'photos': [{'height': 2322,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105706485672688623006">Edriano Souza Guia de Ecoturismo</a>'],
     'photo_reference': 'ATtYBwK2M8eUKigSG7z6cg_bKjB2lg-9rhJczkoz2BFQtDGAQTDWmPs1BCZvHWdDIvMl-3N0jjfvF_8Fo2v6baMbY8KP3AagPGTQt3-HL1ZPs2EhKlfQsonKN8Btti0L7NZ-mHzazZdS9ICjRVyeTQNWHV6BznXuhXtLNqXX_dgI8EoBjIwi',
     'width': 4128}],
   'place_id': 'ChIJ51eRJe7ZNAcRELF7pdeMsdw',
   'plus_code': {'compound_code': '7P6R+QQ Caravelas, BA, Brazil',
    'global_code': '59J27P6R+QQ'},
   'rating': 3.7,
   'reference': 'ChIJ51eRJe7ZNAcRELF7pdeMsdw',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 80,
   'vicinity': 'Avenida Ministro Adalício Nogueira 115, Caravelas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -17.7349281, 'lng': -39.2646708},
    'viewport': {'northeast': {'lat': -17.7337395697085,
      'lng': -39.26349941970851},
     'southwest': {'lat': -17.7364375302915, 'lng': -39.26619738029151}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Pousada do Beco Shangri-La',
   'photos': [{'height': 2340,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116254233089608536311">Eduardo Segatto</a>'],
     'photo_reference': 'ATtYBwLY5-qwmqsedKDUG0U5E9m5uVggp1wEHbmFNeuR0gZhnfNDxvJyUsS-1ZAJalfnxTqFdmBFh5K-OCDZ-n9iAg20m2tlwSq8KGFQ7I4UJ6PwlaoSF_cXlL4ajKWb2zedXtxFO6fSiRIhMoMya3Ze7DR32vI1UlSxRaG1NYv6ie6M_nsO',
     'width': 4160}],
   'place_id': 'ChIJ51eRJe7ZNAcRj1k7zDN9mPs',
   'plus_code': {'compound_code': '7P8P+24 Caravelas, BA, Brazil',
    'global_code': '59J27P8P+24'},
   'rating': 3.9,
   'reference': 'ChIJ51eRJe7ZNAcRj1k7zDN9mPs',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 53,
   'vicinity': 'Rua Sete de Setembro, 219, Caravelas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -17.736329, 'lng': -39.26453800000001},
    'viewport': {'northeast': {'lat': -17.7349831197085,
      'lng': -39.2631925697085},
     'southwest': {'lat': -17.7376810802915, 'lng': -39.2658905302915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Sadine r cardoso',
   'photos': [{'height': 3000,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115852380802147316451">Sadine rodrigues Cardoso</a>'],
     'photo_reference': 'ATtYBwLN1kV1BdpAIn6zurclBWjyB8QCwwlCTscmFV9Hq4v4fM9fMbSPMcPAndQbBZOkSIv0FSAiFMwJnR8HZ4yWXgtNaIjeGGeITzpXtA1l1GHyocVXPR0BuHxmrdbbtQBguyjLluZTr6nZPGH23N6fNE4lhXXa-TvCtf7SsiApuXDiFXfw',
     'width': 4000}],
   'place_id': 'ChIJ91o-_FTXNAcRzx2ofiPjcrA',
   'plus_code': {'compound_code': '7P7P+F5 Caravelas, BA, Brazil',
    'global_code': '59J27P7P+F5'},
   'rating': 5,
   'reference': 'ChIJ91o-_FTXNAcRzx2ofiPjcrA',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 1,
   'vicinity': 'Rua Aníbal Benévolo, 415 - Centro, Caravelas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -17.7410855, 'lng': -39.2459705},
    'viewport': {'northeast': {'lat': -17.7397905697085,
      'lng': -39.2443831197085},
     'southwest': {'lat': -17.7424885302915, 'lng': -39.2470810802915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Pousada Liberdade',
   'photos': [{'height': 3456,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107059790399652216887">Amd Dietz</a>'],
     'photo_reference': 'ATtYBwIWRae4_-v0P9gAkBbjBe6sh21ERFYf1qsgRw7x-fii6Qt9UkxcKN6V8dNM4APTXR1Shns_LnOxcV1AGHjKC6MRyjCKJ01BSwu-lTUjTdaUlNnTsoZIzOVhFmVj25r0Cwvg-IaUYig3czwB0r1ks5fH4Eq_OVcdYSmaPKL4TIFDBSG8',
     'width': 4608}],
   'place_id': 'ChIJXcW1LU_XNAcRG4x6mdMStYg',
   'plus_code': {'compound_code': '7Q53+HJ Caravelas, BA, Brazil',
    'global_code': '59J27Q53+HJ'},
   'rating': 4.3,
   'reference': 'ChIJXcW1LU_XNAcRG4x6mdMStYg',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 144,
   'vicinity': 'Av. Ministro Adalício Nogueira, 1551 - Tancredo Neves, Caravelas'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -17.7431944, 'lng': -39.24093329999999},
    'viewport': {'northeast': {'lat': -17.7418121197085,
      'lng': -39.2395732697085},
     'southwest': {'lat': -17.74451008029151, 'lng': -39.24227123029149}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'Mar Doce de Abrolhos',
   'opening_hours': {'open_now': True},
   'photos': [{'height': 2012,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102086221268556117419">Mar Doce de Abrolhos</a>'],
     'photo_reference': 'ATtYBwJnObiTZGHlYKT8XZoCyo1epiRvvw0LaqEaSFjqoP97QRyCzepP14Gxm5NJ8Jvk1jW81OokldyaTGOckGYkTJcgOH8UCyS5bY84yLF8DXQzYlHvf0NwbbjBqE_zH4lDjInc0EZ1K1wO3BhEj_3Mx3sYPvsu6B5mT6vJS_nc1_fzDbyJ',
     'width': 1965}],
   'place_id': 'ChIJI1JMq0vXNAcRmKk8FltpJM0',
   'plus_code': {'compound_code': '7Q45+PJ Caravelas, BA, Brazil',
    'global_code': '59J27Q45+PJ'},
   'rating': 4.7,
   'reference': 'ChIJI1JMq0vXNAcRmKk8FltpJM0',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 17,
   'vicinity': 'Estrada para Barra de Caravelas, 1632, Caravelas'}],
 'status': 'OK'}

In [36]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('', float("NaN"), inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ushuaia,AR,49.66,broken clouds,-54.8000,-68.3000,NaN
1,Te Anau,NZ,54.01,broken clouds,-45.4167,167.7167,NaN
2,Dikson,RU,31.68,broken clouds,73.5069,80.5464,NaN
3,Vaini,TO,71.76,broken clouds,-21.2000,-175.2000,NaN
4,Gualeguay,AR,54.54,broken clouds,-33.1416,-59.3097,NaN
...,...,...,...,...,...,...,...
678,Salisbury,GB,54.32,broken clouds,51.0693,-1.7957,NaN
679,Buala,SB,85.03,broken clouds,-8.1450,159.5921,NaN
680,Ilebo,CD,71.91,broken clouds,-4.3167,20.5833,NaN
681,Rongcheng,CN,90.93,broken clouds,30.6340,117.8517,NaN
682,Caravelas,BR,73.09,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes

In [37]:
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
682,Caravelas,BR,73.09,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes

In [38]:
# 8a. Create the output File (CSV)
output_data_file="WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [39]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))